<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.xblzer.springframework.test.bean.UserDao"/>

    <bean id="userService" class="com.xblzer.springframework.test.bean.UserService">
        <property name="userId" value="1001"/>
        <property name="company" value="华为"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="com.xblzer.springframework.test.common.MyBeanFactoryPostProfessor"/>
    <bean class="com.xblzer.springframework.test.common.MyBeanPostProfessor"/>
</beans>
